@model List<IzinSistemi.Models.Entity.IzinTalebi>
@{
    ViewBag.Title = "TalepGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-light">
            <h2 class="mb-0 text-primary">İzin Talepleri </h2>
        </div>
        <br />
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Id</th>
                        <th>İzin Türü</th>
                        <th>Izin Talep Personel</th>
                        <th>Izin Onay Personel</th>
                        <th>Başlangıç</th>
                        <th>Bitiş</th>
                        <th>Detay</th>
               
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.IzinTip</td>
                            <td>@item.IzinTalepPersoneId</td>
                            <td>@item.IzinOnayPersoneld</td>
                            <td>@item.Baslangic</td>
                            <td>@item.Bitis</td>
                            <td>@item.Detay</td>
                            <td>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    body {
        background: url("https://media.istockphoto.com/id/1363424873/tr/fotoğraf/aerial-view-on-green-pine-forest.jpg?s=1024x1024&w=is&k=20&c=nQZlcfVSYFr_gDDyCwgr6qC6dLwE_nHM6ZkU7wvH8hs=") no-repeat center center fixed;
        background-size: cover;
        color: #333;
        font-family: Arial, sans-serif;
    }

    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .table thead th {
        font-weight: bold;
        text-align: center;
    }

    .table tbody td {
        text-align: center;
        vertical-align: middle;
    }

    .btn {
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #5a5a5a;
            color: white;
        }

    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }

    .d-flex {
        display: flex;
        gap: 10px;
    }
</style>
