@model IzinSistemi.Models.Entity.IzinTalebi

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="container">
    <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
            <h2 class="card-title">Personel ve İzin Bilgileri Girişi</h2>

            @using (Html.BeginForm("Talep", "IzinTalebi", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="IzinTipId" class="form-label">Izin Adı</label>
                            @Html.DropDownListFor(k => k.IzinTip, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
                        </div>
                        <div class="mb-3">
                            <label for="Detay" class="form-label">Detay</label>
                            @Html.TextBoxFor(k => k.Detay, new { @class = "form-control" })
                            @Html.ValidationMessageFor(k => k.Detay, "", new { @style = "color:red" })
                        </div>
                        <div class="mb-3">
                           
                            @Html.HiddenFor(k => k.Id)
                        </div>
                    </div>
                </div>

                <div class="date-picker-container">
                    <div class="date-picker-content">
                        <label for="Baslangic" class="form-label">Başlangıç Tarihi</label>
                        @Html.TextBoxFor(k => k.Baslangic, new { @class = "form-control", @id = "start-date" })
                        @Html.ValidationMessageFor(k => k.Baslangic, "", new { @style = "color:red" })
                    </div>
                    <div class="date-picker-content">
                        <label for="Bitis" class="form-label">Bitiş Tarihi</label>
                        @Html.TextBoxFor(k => k.Bitis, new { @class = "form-control", @id = "end-date" })
                        @Html.ValidationMessageFor(k => k.Bitis, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="mt-3">
                    <label for="GunFarki" class="form-label">Gün Farkı</label>
                    @Html.TextBoxFor(k => k.Iptal, new { @class = "form-control", @readonly = "readonly", @id = "day-difference" })
                    @Html.ValidationMessageFor(k => k.Iptal, "", new { @style = "color:red" })
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-info">Ekle</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var startDateInput = document.getElementById('start-date');
        var endDateInput = document.getElementById('end-date');
        var dayDifferenceInput = document.getElementById('day-difference');

        var startDatePicker = flatpickr(startDateInput, {
            dateFormat: 'd/m/Y',
            onChange: function (selectedDates, dateStr, instance) {
                endDatePicker.set('minDate', dateStr);
                updateDateRange();
            }
        });

        var endDatePicker = flatpickr(endDateInput, {
            dateFormat: 'd/m/Y',
            onChange: function (selectedDates, dateStr, instance) {
                startDatePicker.set('maxDate', dateStr);
                updateDateRange();
            }
        });

        function updateDateRange() {
            var startDate = startDatePicker.selectedDates[0];
            var endDate = endDatePicker.selectedDates[0];
            if (startDate && endDate) {
                var difference = Math.abs((endDate - startDate) / (1000 * 60 * 60 * 24));
                dayDifferenceInput.value = difference;
            } else {
                dayDifferenceInput.value = '';
            }
        }
    });
</script>
