@using IzinSistemi.Models.Entity
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}




<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-light">
            <h2 class="mb-0 text-primary">Personel Listesi</h2>
        </div>
        <br />
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Id</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Kullanıcı Adı</th>
                        <th>Telefon</th>
                        <th>Mail</th>
                        <th>Kullanılan İzin</th>
                        <th>Kalan İzin</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.PId</td>
                            <td>@item.Isim</td>
                            <td>@item.Soyisim</td>
                            <td>@item.KullanıcıAdı</td>
                            <td>@item.Telefon</td>
                            <td>@item.Mail</td>
                            <td>@item.KullanılanIzin</td>
                            <td>@item.KalanIzin</td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <a>
                                        @Html.ActionLink("Sil", "Sil", new { id = item.PId }, new
                                           {
                                            @class = "btn btn-danger",
                                             onclick = "return confirm('Silmek istiyor musunuz ? ')"
                                           })
                                    </a>
                                    <a class="btn btn-success btn-sm" href="/Personel/PersonelGetir/@item.PId">Güncelle</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Personel/PersonelEkle/" class="btn btn-info mt-3">Personel Ekle</a>
        </div>
    </div>
</div>

<style>
    body {
        background: linear-gradient(to top, #e0b3ff, white);
    }

    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .table thead th {
        font-weight: bold;
        text-align: center;
    }

    .table tbody td {
        text-align: center;
        vertical-align: middle;
    }

    .btn {
        
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #5a5a5a;
            color: white;
        }
</style>
